.entryBox {
  border: 1px solid;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.newEntryBox {
  border: 3px dotted;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
